<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
          margin:10px 0px 10px 0px;
          position: absolute;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        </style>
</head>
    <body>
    
        <h1><center> MiniBitcoin </center></h1>
    
        
        <span id="fullchain_span"></span>
            <button id="get_chain_bt">get fullchain</button>
        <br>
        <span id="node_list_span"></span>

            <button id="get_node_bt">get node list</button>
        
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for("static", filename="index.js")}}"></script>
    </body>
</html>