<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
          margin:10px 0px 10px 0px;
          position: absolute;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        </style>
</head>
    <body>
    
        <h1><center> MiniBitcoin </center></h1>
        <span> host:</span>
        <span id="hostname_span"></span><br>
        <span>client:</span>
        <span id="client_id_span"></span><br>
        <p><strong>Register client node</strong><br>
        </p>
        <br>
        <form action= "{{ url_for('register_node') }}" method="post" id="signup">
            <label for="hostname">hostname:</label>
            <input type="text" id="node" name="node"><br><br>
            <label for="port">client port:</label>
            <input type="text" id="com_port" name="com_port"><br><br>
            <input type="submit" value="Submit" id="form_submit">
        </form>
        
        <span><var>messages</var></span>
        <span id="fullchain_span"></span>
        <br>
        <div class="center">
            <button id="get_chain_bt">get fullchain</button>
        </div>
        <br>
        <span id="node_list_span"></span>
        <br>
        <div class="center">
            <button id="get_node_bt">get node list</button>
        </div>
        <br>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for("static", filename="index.js")}}"></script>
    </body>
</html>