<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
          margin:10px 0px 10px 0px;
          position: absolute;
          left: 25%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        /* Create two equal columns that floats next to each other */
        .column {
            flex: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row {
            display: flex;
        </style>
</head>
    <body>
    
        <h1><center> MiniBitcoin </center></h1>
        <span> host:</span>
        <span id="hostname_span"></span><br>
        <span>client:</span>
        <span id="client_id_span"></span><br>
        <p><strong>Register client node</strong><br>
        </p>
        <form  method="post" id="Register_form">
            <label for="hostname">hostname:</label>
            <input type="text" id="node" name="node"><br><br>
            <label for="port">client port:</label>
            <input type="text" id="com_port" name="com_port"><br><br>
            <input type="submit" value="Submit" id="form_submit">
        </form>
        <span id="register_node_span"></span>
        <br>
        <div class="row">
            <div class="column" style="background-color:#EEEEEE">
                    <div class="center">
                        <button id="get_chain_bt">get fullchain</button>
                    </div>
                <br>
                <span id="fullchain_span"></span>
                <br>

            </div>
            <div class="column" style="background-color:#DDDDDD">
                    <div class="center" style="left:75% !important">
                        <button id="get_node_bt">get node list</button>
                    </div>
                <br>
                <span id="node_list_span"></span>
                <br>
            </div>
        </div>
        <p><strong>New Transaction</strong><br>
        </p>
        <form  method="post" id="transaction_form">
            <label for="recipient">Recipient publickey address:</label>
            <input type="text" id="address" name="address"><br><br>
            <label for="port"> amount:</label>
            <input type="text" id="amount" name="amount"><br><br>
            <input type="submit" value="Submit" id="transaction_submit">
        </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for("static", filename="index.js")}}"></script>
    </body>
</html>